<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Curso de HTML y CSS">
    <meta name="keywords" content="HTML, CSS, Diseño Web"/>
    <meta name="author" content="Cristoffer Falla">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/View/css/style.css">
    <title>HTML-CSS</title>
    <style>
    
    </style>
</head>
<body>
    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="Main">
        <div class="content">
            <article>
                <header>
                    <h2><a href="#">¿Qué es HTML?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 10/07/2018 por UMG-Jalapa</i></h5>
                </footer>
                <p>Durante los últimos años, el estándar HTML5 se ha estado desarrollando...</p>
                <p>HTML5 es un lenguaje más semántico. En otras palabras...</p>
            </article>
            <article>
                <header>
                    <h2><a href="#">¿Qué es CSS?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 10/07/2018 por UMG-Jalapa</i></h5>
                </footer>
                <p>CSS es un lenguaje que se utiliza para dar estilo a un documento HTML...</p>
                <p>Con CSS podemos cambiar el color de fondo de una página, el color de los textos...</p>
            </article>
        </div>

        <aside class="sidebar">
            <h2>Navegación</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="featured">
                <h2>Artículos Recientes</h2>
                <p>HTML5 es un lenguaje más semántico. En otras palabras...</p>
                <a href="#">Leer Más</a>
            </div>
        </aside>
    </div>

    <footer class="pageFooter">
        <p>Copyright &copy; 2018 - www.misitio.com</p>
    </footer>
</body>
</html>
